/* CSS for Dailyreport --NANZIYO*/
header {
  margin: auto;
  text-align: center;
  /* position: fixed; */
  top: 0;
  left: 0;
  /* 
  width: 100px;
  height: 100vh; 
  */
  background-color: #7CA4D7
} 

header h1 {
  font-size: 120%;
  margin-top: 0 auto;
}
header h1 span {
  display: block;
}
main {
  margin-left: 100px;
  padding: 30px;
}
main h2 {
  font-size: 100%;
  text-shadow: 1px 1px 3px #999;
}
main h2 img {
  height: 1em;
}
hr {
  border-color: #7CA4D7;
}

form {
  margin-top: 50px;
}

thead{
  background-color: #7CA4D7
  /* border-collapse: collapse; */
}

div.content {
  margin-right: auto;
  margin-left : auto;
}
time {
  color: #999;
  font-size: 80%;
}
article {
  margin-top: 30px;
}

/* CSS hidden_box どっかからコピペしました*/
/*全体*/
.hidden_box {
  margin: 2em 0;/*前後の余白*/
  padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
  padding: 15px;
  font-weight: bold;
  border: solid 2px black;
  cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
  background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box #label1 {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}
/* CSS hidden_box --EOL-- */